@import "tailwindcss";
:root {
  --background: oklch(0.9853 0.0017 67.8024);
  --foreground: oklch(0.2674 0.009 248.1657);
  --card: oklch(0.9635 0.0055 67.7595);
  --card-foreground: oklch(0.2674 0.009 248.1657);
  --popover: oklch(0.9635 0.0055 67.7595);
  --popover-foreground: oklch(0.2674 0.009 248.1657);
  --primary: oklch(0.5181 0.0895 135.9229);
  --primary-foreground: oklch(0.9853 0.0017 67.8024);
  --secondary: oklch(0.7827 0.0357 76.3511);
  --secondary-foreground: oklch(0.2674 0.009 248.1657);
  --muted: oklch(0.9253 0.0066 67.7431);
  --muted-foreground: oklch(0.5501 0.0181 248.157);
  --accent: oklch(0.9028 0.0294 84.592);
  --accent-foreground: oklch(0.2674 0.009 248.1657);
  --destructive: oklch(0.5714 0.2121 27.2502);
  --destructive-foreground: oklch(0.9853 0.0017 67.8024);
  --border: oklch(0.8478 0.009 67.7042);
  --input: oklch(0.9253 0.0066 67.7431);
  --ring: oklch(0.5181 0.0895 135.9229);
  --chart-1: oklch(0.5181 0.0895 135.9229);
  --chart-2: oklch(0.7827 0.0357 76.3511);
  --chart-3: oklch(0.7643 0.1268 90.5176);
  --chart-4: oklch(0.2674 0.009 248.1657);
  --chart-5: oklch(0.7193 0.0439 196.2166);
  --sidebar: oklch(0.2674 0.009 248.1657);
  --sidebar-foreground: oklch(0.9853 0.0017 67.8024);
  --sidebar-primary: oklch(0.6203 0.1098 135.962);
  --sidebar-primary-foreground: oklch(0.9853 0.0017 67.8024);
  --sidebar-accent: oklch(0.7643 0.1268 90.5176);
  --sidebar-accent-foreground: oklch(0.2674 0.009 248.1657);
  --sidebar-border: oklch(0.4151 0.013 248.14);
  --sidebar-ring: oklch(0.7643 0.1268 90.5176);
  --font-sans: serif;
  --font-serif: Playfair Display, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 0.25rem;
  --shadow-blur: 0.75rem;
  --shadow-spread: 0;
  --shadow-opacity: 0.05;
  --shadow-color: 0 0 0;
  --shadow-2xs: 0 0.25rem 0.75rem 0 hsl(0 0 0 / 0.03);
  --shadow-xs: 0 0.25rem 0.75rem 0 hsl(0 0 0 / 0.03);
  --shadow-sm: 0 0.25rem 0.75rem 0 hsl(0 0 0 / 0.05),
    0 1px 2px -1px hsl(0 0 0 / 0.05);
  --shadow: 0 0.25rem 0.75rem 0 hsl(0 0 0 / 0.05),
    0 1px 2px -1px hsl(0 0 0 / 0.05);
  --shadow-md: 0 0.25rem 0.75rem 0 hsl(0 0 0 / 0.05),
    0 2px 4px -1px hsl(0 0 0 / 0.05);
  --shadow-lg: 0 0.25rem 0.75rem 0 hsl(0 0 0 / 0.05),
    0 4px 6px -1px hsl(0 0 0 / 0.05);
  --shadow-xl: 0 0.25rem 0.75rem 0 hsl(0 0 0 / 0.05),
    0 8px 10px -1px hsl(0 0 0 / 0.05);
  --shadow-2xl: 0 0.25rem 0.75rem 0 hsl(0 0 0 / 0.13);
  --tracking-normal: normal;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2674 0.009 248.1657);
  --foreground: oklch(0.9853 0.0017 67.8024);
  --card: oklch(0.2137 0.0076 248.1852);
  --card-foreground: oklch(0.9853 0.0017 67.8024);
  --popover: oklch(0.2137 0.0076 248.1852);
  --popover-foreground: oklch(0.9853 0.0017 67.8024);
  --primary: oklch(0.5181 0.0895 135.9229);
  --primary-foreground: oklch(0.9853 0.0017 67.8024);
  --secondary: oklch(0.7827 0.0357 76.3511);
  --secondary-foreground: oklch(0.2674 0.009 248.1657);
  --muted: oklch(0.3677 0.0111 248.1306);
  --muted-foreground: oklch(0.7715 0.0208 67.5127);
  --accent: oklch(0.9028 0.0294 84.592);
  --accent-foreground: oklch(0.2674 0.009 248.1657);
  --destructive: oklch(0.5714 0.2121 27.2502);
  --destructive-foreground: oklch(0.9853 0.0017 67.8024);
  --border: oklch(0.4151 0.013 248.14);
  --input: oklch(0.3677 0.0111 248.1306);
  --ring: oklch(0.5181 0.0895 135.9229);
  --chart-1: oklch(0.5181 0.0895 135.9229);
  --chart-2: oklch(0.7827 0.0357 76.3511);
  --chart-3: oklch(0.7643 0.1268 90.5176);
  --chart-4: oklch(0.9853 0.0017 67.8024);
  --chart-5: oklch(0.7193 0.0439 196.2166);
  --sidebar: oklch(0.9853 0.0017 67.8024);
  --sidebar-foreground: oklch(0.2674 0.009 248.1657);
  --sidebar-primary: oklch(0.5181 0.0895 135.9229);
  --sidebar-primary-foreground: oklch(0.9853 0.0017 67.8024);
  --sidebar-accent: oklch(0.7643 0.1268 90.5176);
  --sidebar-accent-foreground: oklch(0.2674 0.009 248.1657);
  --sidebar-border: oklch(0.9253 0.0066 67.7431);
  --sidebar-ring: oklch(0.5181 0.0895 135.9229);
  --font-sans: serif;
  --font-serif: Playfair Display, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 0.25rem;
  --shadow-blur: 0.75rem;
  --shadow-spread: 0;
  --shadow-opacity: 0.05;
  --shadow-color: 0 0 0;
  --shadow-2xs: 0 0.25rem 0.75rem 0 hsl(0 0 0 / 0.03);
  --shadow-xs: 0 0.25rem 0.75rem 0 hsl(0 0 0 / 0.03);
  --shadow-sm: 0 0.25rem 0.75rem 0 hsl(0 0 0 / 0.05),
    0 1px 2px -1px hsl(0 0 0 / 0.05);
  --shadow: 0 0.25rem 0.75rem 0 hsl(0 0 0 / 0.05),
    0 1px 2px -1px hsl(0 0 0 / 0.05);
  --shadow-md: 0 0.25rem 0.75rem 0 hsl(0 0 0 / 0.05),
    0 2px 4px -1px hsl(0 0 0 / 0.05);
  --shadow-lg: 0 0.25rem 0.75rem 0 hsl(0 0 0 / 0.05),
    0 4px 6px -1px hsl(0 0 0 / 0.05);
  --shadow-xl: 0 0.25rem 0.75rem 0 hsl(0 0 0 / 0.05),
    0 8px 10px -1px hsl(0 0 0 / 0.05);
  --shadow-2xl: 0 0.25rem 0.75rem 0 hsl(0 0 0 / 0.13);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}
